<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <!-- <add key="TEST" value="somevalue"/> -->
    </appSettings>
    <system.web>
        <customErrors mode="off"/>
    </system.web>
    <system.webServer>
        <httpErrors existingResponse="PassThrough"/>
        <handlers>
            <add name="iisnode" path="app.js" verb="*" modules="iisnode"/>
        </handlers>
        <defaultDocument>
            <files>
                <add value="app.js"/>
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="iisnode"/>
                </rule>
                <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^app.js\/debug[\/]?"/>
                </rule>
                <rule name="StaticContent" patternSyntax="Wildcard">
                    <action type="Rewrite" url="public/{R:0}" logRewrittenUrl="true"/>
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                    </conditions>
                    <match url="*.*"/>
                </rule>
                <rule name="DynamicContent">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
                    </conditions>
                    <action type="Rewrite" url="app.js"/>
                </rule>
				<rule name="ForceHttps" stopProcessing="true">
					<match url="(.*)" ignoreCase="true" />
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="false" />
					</conditions>
					<action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}{REQUEST_URI}" />
				</rule>				
            </rules>
        </rewrite>
        <iisnode nodeProcessCountPerApplication="4" watchedFiles="*.js;*.config" loggingEnabled="true" devErrorsEnabled="true"/>
    </system.webServer>
</configuration>
